
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 352 38% 96%;
    --foreground: 351 30% 15%;
    --card: 0 0% 100%;
    --card-foreground: 351 30% 15%;
    --popover: 352 38% 96%;
    --popover-foreground: 351 30% 15%;
    --primary: 351 30% 40%;
    --primary-foreground: 352 38% 98%;
    --secondary: 304 45% 94%;
    --secondary-foreground: 351 30% 40%;
    --muted: 352 20% 90%;
    --muted-foreground: 351 20% 45%;
    --accent: 304 45% 66%;
    --accent-foreground: 352 38% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 351 20% 85%;
    --input: 351 20% 85%;
    --ring: 351 30% 40%;
    --radius: 1rem;
  }
  .dark {
    --background: 351 30% 10%;
    --foreground: 352 38% 96%;
    --card: 351 30% 12%;
    --card-foreground: 352 38% 96%;
    --popover: 351 30% 10%;
    --popover-foreground: 352 38% 96%;
    --primary: 351 30% 50%;
    --primary-foreground: 352 38% 98%;
    --secondary: 351 30% 20%;
    --secondary-foreground: 352 38% 96%;
    --muted: 351 20% 20%;
    --muted-foreground: 352 20% 65%;
    --accent: 304 45% 66%;
    --accent-foreground: 352 38% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 351 20% 20%;
    --input: 351 20% 20%;
    --ring: 351 30% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
